@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


@layer components{

    .title{
        @apply lg:text-7xl text-4xl md:text-6xl  font-bold;
    }

    .small-title{
        @apply text-3xl font-bold;
    }

    .dimmed{
        @apply opacity-30;
    }

    .text-highlight{
        @apply text-sky-700;
    }

    .text-dark{
        @apply text-neutral-800;
    }

    .myborder{
        @apply border-b-[1px] border-neutral-300;
    }

    .myborder-l{
        @apply border-l-[1px] border-neutral-300;
    }

    .bg-light{
        @apply bg-neutral-100;
    }

    .myshadow{
        @apply shadow-lg shadow-neutral-700;
    }

    .text-dull{
        @apply text-neutral-500;
    }

}